<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The developer interface</h1>
    <p>To turn of developer interface go to /website/templates/dashboard.html and follow the instructions there</p>
    <a href="{{url_for('admin_requests')}}">admin_requests</a>
    <a href="/admin">admin_dashboard</a>
    <a href="{{url_for('user_id_search')}}">user_id_search</a>
    <a href="{{url_for('home')}}">home</a>
    <a href="{{url_for('dashboard')}}">dashboard</a>

</body>
</html>